{{ template "two-thirds-open" . }}
        {{ component "panel" .Context.panel }}
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">This example does not take payment or send email. In a live service we would email your licence to you.</p>
        <p class="govuk-body"><a class="govuk-link" href="/new-application">Apply for another licence</a></p>
{{- template "columns-close" . }}
