{{ template "two-thirds-open" . }}
        {{ component "panel" .Context.panel }}
        <p class="govuk-body">This is a fictional example. Nobody will send you a fishing rod licence.</p>
        <p class="govuk-body"><a class="govuk-link" href="/components">Back to the component list</a></p>
{{- template "columns-close" . }}
