{{ template "form-open" . }}
          {{ component "password-input" .Context.password }}
          {{ component "password-input" .Context.confirm }}
{{- template "continue-button" . }}
{{- template "form-close" . }}
