{{ template "two-thirds-open" . }}
        <h1 class="govuk-heading-l">{{ .Heading }}</h1>
        <p class="govuk-body">{{ .Context.body }}</p>
        {{ component "pagination" .Context.pagination }}
{{- template "columns-close" . }}
